@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
    scroll-behavior: smooth;
}

#preloader{
    background: #fff;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}

.loading{
    top: 20%;
    width: 120px;
    height: 120px;
    position: relative;
    margin: 150px auto;
    background-color: white;
    animation: spin 2s linear infinite;
    animation-direction: reverse;
}

.shape{
    display: block;
    position: absolute;
    height: 20px;
    width: 40px;
    background-color: #fff;
    mix-blend-mode: exclusion;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}

.shape.shape-1{
    animation: spin1 2s ease-in-out infinite;
    animation-fill-mode: forwards;
}

.shape.shape-2{
    animation: spin2 2s ease-in-out infinite;
    animation-fill-mode: forwards;
}

.shape.shape-3{
    animation: spin3 2s ease-in-out infinite;
    animation-fill-mode: forwards;
}

.shape.shape-4{
    animation: spin4 2s ease-in-out infinite;
    animation-fill-mode: forwards;
}

.shape.shape-1{
    top: 20px;
    left: 40px;
}

.shape.shape-2{
    right: 20px;
    top: 40px;
    width: 20px;
    height: 40px;
}

.shape.shape-3{
    bottom: 20px;
    left: 40px;
}

.shape.shape-4{
    left: 20px;
    top: 40px;
    width: 20px;
    height: 40px;
}

@keyframes spin {
    100%{
        transform: rotate(90deg);
    }
}

@keyframes spin1 {
    25%{
        transform: rotate(90deg) translate(30px, -10px) scaleX(1);
    }
    100%{
        transform: rotate(90deg) translate(30px, -10px) scaleX(2);
    }
}

@keyframes spin2 {
    15%{
        transform: rotate(0deg) translate(0px) scaleY(1);
    }
    50%{
        transform: rotate(90deg) translate(10px, 30px) scaleY(1);
    }
    100%{
        transform: rotate(90deg) translate(10px, 30px) scaleY(2);
    }
}

@keyframes spin3 {
    40%{
        transform: rotate(0deg) translate(0px) scaleX(1);
    }
    75%{
        transform: rotate(90deg) translate(-30px, 10px) scaleX(1);
    }
    100%{
        transform: rotate(90deg) translate(-30px, 10px) scaleX(2);
    }
}

@keyframes spin4 {
    65%{
        transform: rotate(0deg) translate(0px) scaleY(1);
    }
    100%{
        transform: rotate(90deg) translate(-10px, -30px) scaleY(2);
    }
}

p{
    font-weight: 300;
    color: #111;
}

.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(images\\pexels-picjumbocom-210661.jpg);
    background-size: cover;
}

.banner .content{
    max-width: 900px;
    text-align: center;
}

.banner .content h2{
    font-size: 5em;
    color: #fff; /*can doi lai mau */
}

.banner .content p{
    font-size: 1em;
    color: #fff; /*can doi lai mau*/
}

.btn{
    font-size: 1em;
    color: #fff; /*can doi lai mau*/
    background: #ff0157; /*can doi lai mau*/
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
}

.btn:hover{
    letter-spacing: 6px;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

header.sticky{
    background: #fff;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}

header .logo{
    color: #fff;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}

header.sticky .logo{
    color: #111;
}

header .logo span{
    color: #ff0157;
}

header .navigation{
    position: relative;
    display: flex;
}

header .navigation li{
    list-style: none;
    margin-left: 30px;
}

header .navigation li a,
header .navigation li{
    text-decoration: none;
    color: #fff;
    font-weight: 300;
}

header.sticky .navigation li a,
header.sticky .navigation li{
    color: #111;
}

header .navigation li a:hover{
    color: #ff0157;
}

header .navigation li .search{
    position: relative;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 20px;
    transition: 0.5s;
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.05);
    overflow: hidden;
}

header .navigation li .search.active{
    width: 120px;
}

header .navigation li .search .icon{
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    cursor: pointer;
}

header .navigation li .search .icon::before{
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    border: 1px solid #ff0157;
    border-radius: 50%;
    transform: translate(-2px, -2px);
}

header .navigation li .search .icon::after{
    content: '';
    position: absolute;
    width: 1px;
    height: 4px;
    background: #ff0157;
    transform: translate(2px, 2px) rotate(315deg);
}

header .navigation li .search .input{
    position: relative;
    width: 100px;
    height: 20px;
    left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .navigation li .search .input input{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 12px;
    padding: 10px 0;
}

header .navigation li .search .clear{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    right: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .navigation li .search .clear::before{
    position: absolute;
    content: '';
    width: 1px;
    height: 15px;
    background: #999;
    transform: rotate(45deg);
}

header .navigation li .search .clear::after{
    position: absolute;
    content: '';
    width: 1px;
    height: 15px;
    background: #999;
    transform: rotate(315deg);
}

section{
    padding: 100px;
}

.row{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.row .col50{
    position: relative;
    width: 48%;
}

.titleText{
    color: #111;
    font-size: 2em;
    font-weight: 300;
}

.titleText span{
    color: #ff0157;
    font-weight: 700;
    font-size: 1.5em;
}

.row .col50 .imgBx{
    position: relative;
    width: 100%;
    min-height: 400px;
}

.row .col50 .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu .content{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top: 40px;
}

.menu .content .box{
    width: 340px;
    margin: 20px;
    border: 15px solid #fff;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.08);
}

.menu .content .box .imgBx{
    position: relative;
    width: 100%;
    height: 300px;
}

.menu .content .box .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu .content .box .text{
    margin: 0;
    padding: 15px 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    background: #fff;
}

.menu .content .box .text a{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #ff0157;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 18px;
    overflow: hidden;
    transition: 0.2s;
}

.menu .content .box .text a:hover{
    color: #fff;
    background: #ff0157;
    box-shadow: 0 0 10px #ff0157, 0 0 40px #ff0157, 0 0 80px #ff0157;
    transition-delay: 1s;
}

.menu .content .box .text a span{
    position: absolute;
    display: block;
}

.menu .content .box .text a span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #ff0157);
}

.menu .content .box .text a:hover span:nth-child(1){
    left: 100%;
    transition: 1s;
}

.menu .content .box .text a span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #ff0157);
}

.menu .content .box .text a:hover span:nth-child(3){
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

.menu .content .box .text a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #ff0157);
}

.menu .content .box .text a:hover span:nth-child(2){
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

.menu .content .box .text a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #ff0157);
}

.menu .content .box .text a:hover span:nth-child(4){
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

.menu .content .box .text h3{
    font-weight: 400;
    color: #111;
}

.copyrightText{
    padding: 8px 40px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
}

.copyrightText p{
    color: #333;
}

.copyrightText span{
    color: #ff0157;
    font-weight: 500;
    text-decoration: none;
}

@media (max-width: 991px){
    header,
    header.sticky{
        padding: 10px 20px;
    }

    header .navigation{
        display: none;
    }

    header .navigation.active{
        width: 100%;
        height: calc(100% - 61px);
        position: fixed;
        top: 61px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
    }

    header .navigation li{
        margin-left: 0;
    }

    header .navigation li a{
        color: #111;
        font-size: 1.6em;
    }

    .menuToggle{
        position: relative;
        width: 40px;
        height: 40px;
        background: url(images\\menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    .menuToggle.active{
        background: url(images\\close.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }

    header.sticky .menuToggle{
        filter: invert(1);
    }

    section{
        padding: 20px;
    }

    .banner .content h2{
        font-size: 3em;
        color: #fff;
    }

    .row{
        flex-direction: column  ;
    }

    .row .col50{
        position: relative;
        width: 100%;
    }

    .row .col50 .imgBx{
        height: 300px;
        margin-top: 20px;
    }

    .menu .content{
        margin-top: 20px;
    }

    .menu .content .box{
        margin: 10px;
    }

    .menu .content .box .imgBx{
        height: 260px;
    }

    .title{
        text-align: center;
    }

    .titleText{
        font-size: 1.8em;
        line-height: 1.5em;
        margin-bottom: 15px;
        font-weight: 300;
    }
}

@media (max-width: 480px){
    .banner .content h2{
        font-size: 2.2em;
        color: #fff;
    }
}